
.belajar p{
    text-transform: uppercase;
    font-size: 20px;
}

.opacity {
    width: 200px;
    height: 200px;
    background-color: magenta;
    opacity: 0.56;
}

.opacity2 {
    width: 50px;
    height: 50px;
    background-color: blue;
    opacity: 20;
}

hr {
    height: 10px;
    background-color: black;
}

.rgba {
    width: 200px;
    height: 200px;
    background-color: rgba(112, 113, 114, 1)
}

.rgba-child {
    width: 50px;
    height: 50px;
    background-color: blue;
}

.box-shadow{
    width: 300px;
    height: 300px;
    background-color: green;
    margin: 50px;
    /* box-shadow: 0px 30px 10px -20px rgba(0, 0, 0,.5) ;    */
    transition: 0.3s;

}

.box-shadow:hover{
    margin-top: 40px;
    box-shadow: 5px 5px 5px 4px rgba(255, 0, 0,.5),
    -5px -5px 5px 4px rgba(0, 0, 255,.5) ;   
}

.text-shadow {
    margin-bottom: 50px;
    font-size: 80px;
    color: #fff;
    text-shadow: 0 4px 6px black;
}

.linear-gradient {
    width: 100px;
    height: 100px;
    /* background-color: blue; */
    margin: 50px auto;
    background-image: linear-gradient(green 30%, red 60%);
    transition: 10s;
}

.linear-gradient:hover{
    transform: rotate(1800000000deg);
}

img {
    width: 200px;
}

.judul .subjudul, .judul, .kotak {
    display: inline-block;
    margin: 0 auto;
    padding: 0 0;
    word-spacing: 0px;
    letter-spacing: 0px;
    font-size: 100px;
    position: absolute;
}

.judul .subjudul p{
    position: inherit;
    right: -200px;
    bottom: -100px;
    top: 10px;
    transition: 0.3s;
}

.div {
    display: inline-block;
}

.judul:hover .subjudul p{
    right: 0px;
} 

.contain{
    width: 1000px;
    height: 1000px;
    border: 10px solid black;
}

.kotak-1,.kotak-2,.kotak-3,.kotak-4,.kotak-5,.kotak-6{
    width: 100px;
    height: 100px;
    margin: 5px;
    text-align: center;
    line-height: 100px;
    background-color: yellow;
}

.contain:hover div{
    /* transform: rotate(720deg);
    margin-left: 800px;
    background-color: royalblue; */
    animation: berputar 2s ease-in-out;
}

@keyframes berputar {
    0%{
        width: 500px;
    }
    20%{
        width: 200px;
    }
    
}

.kotak-1{transition: all 1s ease;}
.kotak-2{transition: all 1s ease-in;}
.kotak-3{transition: all 1s ease-in-out;}
.kotak-4{transition: all 1s ease-out;}
.kotak-5{transition: all 1s linear;}
.kotak-6{}